# Local Development API:
VITE_API_URL=http://localhost:5000/api
# Production Deployed Render API:
# VITE_API_URL=https://procureai-backend-1.onrender.com/api

VITE_SUPABASE_URL=https://oeunwfqixbfcxlgvfmow.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_lD88AE61Z01nw98TTeFMug_mbrrXs66

